<%- include("./partials/header.ejs", {activePage: activePage}) %>

<div class="container py-5">
    <div class="row align-items-center d-flex">
        <% posts.forEach((post) => { %>
            <div class="col-xl-4 col-md-6 col-xs-12">
                <div class="card border-primary text-center mb-3" id="<%= post.id %>">
                    <img src="http://via.placeholder.com/400x200" class="card-img-top px-1 py-1" alt="Post Cover">
                    <!-- <img src=cover/<%= post.id %> class="card-img-top img-fluid" alt="Post Cover"> -->
                    <div class="card-body">
                        <h5 class="card-title"><%= post.title %></h5>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
