<%- include("./partials/header.ejs", {activePage: activePage}) %>

<div class="container py-5">
    <div class="row align-items-center d-flex">
        <% posts.forEach((post) => { %>
            <div class="col-xl-4 col-md-6 col-xs-12 ">
                <div class="card border-primary text-center mb-3" id="<%= post.id %>">
                    <div class='aspect-ratio-1-1'>
                        <img src="<%= post.thumbnail_url %>" class="card-img-top px-1 py-1" alt="Post Cover">
                    </div>
                    <div class="card-body py-4">
                        <h5 class="card-title"><%= post.title %></h5>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
<%- include("./partials/footer.ejs") %>
